name: clash for windows
on: 
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH connection to Actions'
        required: false
        default: 'false'
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: init env
        run: |
          sudo apt update
          sudo apt upgrade -y
          echo "sudo apt install -y wget jq curl"
          sudo apt install -y wget jq curl nodejs
        
          npm install -g asar
          wget `curl https://api.github.com/repos/Fndroid/clash_for_windows_pkg/releases/latest | jq '.assets[6].browser_download_url' | sed s/\"//g`
          
      - name: SSH connection to Actions
        uses: P3TERX/ssh2actions@v1.0.0
        if: (github.event.inputs.ssh == 'true' && github.event.inputs.ssh  != 'false') || contains(github.event.action, 'ssh')
        env:
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          
      - name: replace ad string
        run: |
          ls
          7z x *.7z -oclash
          cd clash/resource
          asar e app.asar app
          rm app.asar
          sed -i 's/Advertisement//g' app/dist/electron/renderer.js
          sed -i 's/"ad-img-list"/""/g' app/dist/electron/renderer.js
          sed -i 's/"ad-img"/""/g' app/dist/electron/renderer.js
          sed -i 's/"lazy-image-view"/""/g' app/dist/electron/renderer.js
         
          asar pack app app.asar
          rm -rf app
          cd ../
          ls
          echo "FIRMWARE=$PWD" >> $GITHUB_ENV
          7z a "../clash-for-windows.$(curl https://api.github.com/repos/Fndroid/clash_for_windows_pkg/releases/latest | jq '.assets[6].name' | sed 's/"//g' | cut -d "-" -f 2).7z" * -mx9 -mmls
          t on
       
      - name: Generate release tag
        run: |
          echo "::set-output name=release_tag::$(date +"%Y.%m.%d-%H%M")"
          touch release.txt
          echo "::set-output name=status::success"
          
      - name: Upload firmware to release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tag.outputs.release_tag }}
          body_path: release.txt
          files: ${{ env.FIRMWARE }}/*
